@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.App {
  text-align: center;
  width: 100vw;
  min-height: 100vh;
  background: var(--background-primary, #18171C);
}