.App {
  text-align: center;
}

.AppContainer{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
  gap: 5.5rem;
  width: 85%;
  margin: 0 auto;
}

.AppLogo{
  width: 60rem;
  margin-top: 8rem;
  text-align: center;
}